@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: url(../images/fondo4.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  overflow-y: hidden;
}

/* Header*/
header {
  z-index: 1;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(0deg, rgba(255, 253, 233, 0) 0%, rgba(218, 255, 158, 0.918) 100%);
}
header nav ul li a {
  font-weight: lighter;
}
header nav ul li a:hover {
  transition: all 0.5s;
  transform: scale(0.95);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
}

.logo {
  width: 140px;
  margin: 0 10px;
  z-index: 1;
}
@media screen and (max-width: 360px) and (min-width: 300px) {
  .logo {
    margin-left: 5px;
  }
}

/* Fin Header*/
/* Sección Flores*/
.index-main {
  margin-bottom: 40px;
}

.start {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.grid-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
@media screen and (max-width: 718px) and (min-width: 455px) {
  .grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 454px) {
  .grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}

.flores {
  list-style-type: none;
}

.card-title {
  overflow-y: hidden;
  font-weight: bolder;
  font-size: 20px;
}

.flor-button {
  background-color: rgba(0, 0, 0, 0);
  color: #505050;
  font-weight: bold;
}

.card {
  margin: 0 3px;
  border-radius: 10px;
  transition: all 0.5s;
  justify-self: center;
}
.card:hover {
  transform: scale(0.98);
}

/* Fin sección Flores*/
/* Sección Info*/
.flor-title {
  font-size: 30px;
  padding: 20px 20px;
}
@media only screen and (max-width: 550px) {
  .flor-title {
    display: flex;
    justify-content: center;
  }
}

.info {
  width: 95%;
  margin: 10px 0px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
@media only screen and (max-width: 550px) {
  .info {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.info-container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 550px) {
  .info-container {
    margin: 50px 0;
  }
}

.flor-img {
  border-radius: 10px;
  grid-column: 1/2;
  justify-self: center;
  filter: drop-shadow(3px 1px 3px grey);
  padding-bottom: 3px;
}
@media only screen and (max-width: 550px) {
  .flor-img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.flor.txt {
  grid-column: 2/4;
}
@media only screen and (max-width: 550px) {
  .flor.txt {
    grid-row: 2/3;
  }
}

/* Fin Sección info*/
/* Fotter*/
footer {
  background: linear-gradient(0deg, rgba(211, 255, 141, 0.918) 0%, rgba(255, 253, 233, 0) 100%);
}
footer nav ul li a {
  text-decoration: black;
  margin-left: 5px 10px 20px;
  transition: all 0.5s;
}
footer nav ul li a:hover {
  text-decoration: black;
  transform: scale(0.95);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
}

.footer-link-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
}

.footer-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: hidden;
  margin: 5px 0;
  font-weight: bolder;
}

/* fin Footer*/
.main-nosotros {
  display: flex;
  justify-content: center;
}

.main-faq, .main-nosotros, .main-contacto {
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-image {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}

/*Contacto*/
.contact-image {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-txt {
  color: black;
  text-decoration: none;
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: lighter;
}

.contact-p {
  text-align: center;
}

@media screen and (max-width: 350px) {
  .contacto-ul {
    margin: 5px;
    padding: 0%;
  }
}

@media screen and (max-width: 350px) {
  .contacto-map {
    max-width: 280px;
  }
}

.contacto-container {
  display: flex;
  justify-content: center;
}

/*fin Contacto*/
.main-nosotros {
  display: flex;
  justify-content: center;
}

.main-faq, .main-nosotros, .main-contacto {
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-image {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}

/*Nosotros*/
@media only screen and (max-width: 910px) and (min-width: 840px) {
  .main-nosotros {
    margin: 30px 0;
  }
}
@media only screen and (max-width: 839px) {
  .main-nosotros {
    margin: 30px 0;
  }
}

.presentacion {
  margin: 5px;
}

.nosotros-container {
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}
@media only screen and (max-width: 839px) {
  .nosotros-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.vivero-foto {
  width: 500px;
  grid-column: 1/2;
  border-radius: 10px;
}
@media only screen and (max-width: 839px) {
  .vivero-foto {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.nosotros-txt {
  grid-column: 2/3;
  align-self: center;
}
@media only screen and (max-width: 910px) and (min-width: 840px) {
  .nosotros-txt {
    font-size: 40px;
  }
}
@media only screen and (max-width: 839px) {
  .nosotros-txt {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
}

@media only screen and (max-width: 839px) {
  .vivero-foto-container {
    display: flex;
    justify-content: center;
  }
}

/* fin Nosotros*/
.main-nosotros {
  display: flex;
  justify-content: center;
}

.main-faq, .main-contacto, .main-nosotros {
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-image {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.map-card-1 {
  justify-self: center;
}

.map {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 5px;
  margin: 5px 0;
}

@media screen and (max-width: 575px) {
  .locales-map {
    justify-self: center;
  }
}
@media screen and (max-width: 410px) {
  .locales-map {
    max-width: 270px;
  }
}

@media screen and (max-width: 575px) {
  .col-sm-5 {
    display: flex;
    justify-content: center;
  }
}

.locales-card {
  max-width: 500px;
}
@media screen and (max-width: 510px) {
  .locales-card {
    max-width: 400px;
  }
}
@media screen and (max-width: 410px) {
  .locales-card {
    max-width: 300px;
  }
}

/*FAQ*/
.faq-image-3 {
  width: 300px;
  border-radius: 5px;
  align-self: center;
}

.faq-answer {
  display: inline;
}

.faq-link {
  font-weight: bolder;
  color: black;
}
.faq-link:hover {
  color: #56a347;
}

.faq-question {
  font-size: 25px;
}

/*fin FAQ*/

/*# sourceMappingURL=style.css.map */
