
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --background-color: rgba(255, 248, 189, 0.897);
    --background-color2: rgba(255, 255, 255, 0.726);
    --hover: rgb(112, 184, 141);
    --gradient: rgba(218, 255, 158, 0.918);
}

/* Index */
body {
    background-image:url(images/fondo4.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    overflow-y: hidden;
}

/* Header-index */
header {
    background: linear-gradient(0deg , rgba(255, 253, 233, 0) 0% , rgba(218, 255, 158, 0.918) 100%);
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
a { 
    color: black;
    text-decoration: none;
    font-weight: lighter;
}


.link-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    transition: all 0.5s;
}
.link:hover {
    transform: scale(0.9);
}

.logo {
    width: 175px;
    padding: 0px 20px;
    z-index: 1;
}
/* Header mobile style*/
@media only screen and (min-width: 1005px) {
    .link-container {
        width: 60%;
    }
}

@media only screen and (max-width: 360px) and (min-width: 300px) {
    .logo {
        padding-left: 5px;
    }
}
@media only screen and (max-width: 990px) and (min-width: 835px) {
    .link-container {
        width: 60%;
    
    }

} 
@media only screen and (max-width: 834px) and (min-width: 705px) {
    .link-container {
        width: 75%;
    }
}

@media only screen and (max-width: 704px) and (min-width: 694px) {
    .link-container {
        width: 80%;
    }

}
@media only screen  and (max-width: 694px) and (min-width: 463px) {
    .link-container {
        align-items: center;
        width: 20%;
    }

}
/* Fin Header mobile styles */
/* Fin header-index*/

/*Main-index*/
/*Sección flores*/

.start {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0;
}
#flor1 {
    height: 20%s;
}
.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
.flor-link-1 {
    grid-column: 1 / 2;
}
.flor-link-2 {
    grid-column: 2 / 3;
}
.flor-link-3 {
    grid-column: 3 / 4;
}
.flor-link-4 {
    grid-column: 4 / 5;
}
.flores {
    list-style-type: none;
}


.card-body {
    background-color: var(--background-color2);
}
.card-title {
    overflow-y: hidden;
    font-weight: bolder;
}
.flor-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.card {
    margin: 0 3px;
    border-radius: 10px;
    transition: all 0.5s;
    justify-self: center;
}
.card:hover {
    transform: scale(0.98);
}
/* Sección flores mobile styles */

@media only screen and (max-width: 931px) and (min-width: 719px) {
    .flor-style {
        width: 170px;
    }
}
@media only screen and (max-width: 718px) and (min-width: 455px) {
    
    .grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .flor-link-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .flor-link-2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .flor-link-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .flor-link-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
@media only screen and (max-width: 454px) {
    .flor-style {
        width: 290px;
    }
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .flor-link-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .flor-link-2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .flor-link-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .flor-link-4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}
/* Fin Sección flores mobile styles */
        
/*Fin Sección flores*/

/*Sección info*/
.flor-title {
    padding: 20px 20px;
}
.info {
    width: 95%;
    margin: 10px 0px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.info-container {
    display: flex;
    justify-content: center;
}
.flor-img {
    border-radius: 10px;
    grid-column: 1 / 2;
    justify-self: center;
}
.flor.txt {
    grid-column: 2 / 4;
    font-style: italic;
}
/* Sección info mobile styles*/
@media only screen and (max-width: 580px) {
    .flor-title {
        padding: 5px 5px;
    }
    
}
@media only screen and (max-width: 494px) {
    .info {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .flor-img {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .flor-txt {
        grid-row: 2 / 3;
    }
    .flor-title {
        display: flex;
        justify-content: center;
    }
    .info-container {
        margin: 50px 0;
    }
}
/* Fin sección info mobile styles*/

/* Fin Sección info */

/* Fin main-index */


/* Footer-index */
footer {
    background: linear-gradient(0deg , rgba(211, 255, 141, 0.918) 0% , rgba(255, 253, 233, 0) 100% );
    font-weight: bold;
}
.footer-link {
    padding-left: 5px;
}
.footer-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    margin: 5px;
}
.footer-link-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
}

/* Fin footer-index */
/* Fin index */


/*Nosotros*/
.main-nosotros {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
}
.presentacion {
    margin: 5px;
}
.nosotros-container {
    width: 90%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}
.vivero-foto {
    width: 500px;
    grid-column: 1 / 2;
    border-radius: 10px;
}
.nosotros-txt {
    grid-column: 2 / 3;
    align-self: center;
}
/* Nosotros mobile styles */
@media only screen and (max-width: 910px) and (min-width: 840px) {
    .main-nosotros {
        margin: 30px 0;
    }
    .nosotros-txt {
        font-size: 14px;
    }
}
@media only screen and (max-width: 839px) {
    .main-nosotros {
        margin: 30px 0;
    }
    .nosotros-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .vivero-foto {
        grid-column: 1 / 2;
        grid-row: 1 / 2;    
    }
    .nosotros-txt {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }
    .vivero-foto-container {
        display: flex;
        justify-content: center;
    }
}
/* fin Nosotros mobile styles*/
/* fin Nosotros*/

/* Locales */
.locales-map1 {
    justify-self: center;
}
.card-body {
    background-color: rgba(255, 127, 80, 0)
}
.map-card-1 {
    justify-self: center;
}
.map {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 5px;
    margin: 5px 0;
}

@media screen and (max-width:575px) {
  .locales-map1 {
      justify-self: center;
  }  
  .locales-map2 {
      justify-self: center;
  }
  .col-sm-5 {
      display: flex;
      justify-content: center;
  }
}

/* fin Locales */


/* FAQ */

.faq-image-3 {
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-self: center;
}

/* fin FAQ mobile styles */
/*fin FAQ*/

/* Contacto */
.contacto-title {
    display: flex;
    justify-content: center;
}
.contact-image {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-txt {
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}
.location {
    max-width: 40px;
    max-height: 40px;
}
.contact-p {
    text-align: center;
}
/* fin Contacto */