@import "../base/maps";
@import "../base/extends";
@import "../base/mixins";
/*Contacto*/
.main-contacto {
    @extend %main-2;
}
.contact-image {
    width: map-get($img, size2);
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %icono;
}
.contact-txt {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    
}
.contact-link {
    &:hover {
        color: map-get($colores, color1);
    }
}
.contact-p {
    text-align: center;
}
.contacto-ul {
    @media screen and (max-width: 350px) {
        margin: 5px;
        padding: 0%;
    }
}
.contacto-map {
    max-height: 250px;
    @media screen and (max-width: 350px) {
        max-width: 280px;
    }
}
.contacto-container {
    display: flex;
    justify-content: center;
}
/*fin Contacto*/
