@import "../base/variables";
@import "../base/extends";
/* Footer*/
.footer {
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  @media screen and (max-width:680px) and (min-width: 405px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    @media screen and (max-width: 405px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}
.footer-link {
    font-weight: bolder;
}
footer {
    background: $gradient-2;
    
    nav {
        align-items: center;
        margin-left: 10px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        @media screen and (max-width:680px) and (min-width: 405px) {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        @media screen and (max-width: 405px) {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: 0;
        }
        ul {
            margin: 0;
            li {
                a {
                    text-decoration: black;
                    margin-left: nth($sizes,1);
                    transition: all 0.5s;
                    &:hover {
                        text-decoration: black;
                        transform: scale(0.95);
                        text-shadow: $text-shadow
                    }
                }
            }
        }
    }
}
.footer-link-container {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    
    @media screen and (max-width: 405px) {
        justify-content: center;
        text-align: center;
        
    }
}
.footer-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.footer-img {
    max-height: 30px;
}
.contacto-footer-container {
    @media screen and (max-width:680px) {
        display: flex;
        justify-content: center;
        border-left: 1px solid black;
    }
    @media screen and (max-width: 410px) {
        border: 0;
        margin: 30px 0;
    }
}
.contacto-footer {
    padding: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @media screen and (max-width:680px) and (min-width: 405px) {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        border-right: 0;
        border-left: 0;
    }
    @media screen and (max-width: 405px) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        border-left: 0;
        border-right: 0;
        padding: 0;
    }
}
.footer-p {
    @media screen and (max-width: 405px) {
        font-size: 15px;
    }
}
.footer-title {
    font-weight: bolder;
}
.footer-icon {
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
}
.footer-form {
    margin-right: 10px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: center;
    display: flex;
    align-items: center;
    @media screen and (max-width:680px) and (min-width: 405px) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    @media screen and (max-width: 405px) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
    }
}
.footer-mail {
    width: 200px;
    @media screen and (max-width: 730px) and (min-width: 405px) {
        width: 150px;
    }
}
.footer-btn {
    margin-left: 3px;
}
.f-1, .f-2{
    display: flex;
    justify-content: flex-start;
}
/* fin Footer*/