@import "../base/variables";
/* Fotter*/
footer {
    background: $gradient-2;
    nav {
        ul {
            li {
                a {
                    text-decoration: black;
                    margin-left: nth($sizes,1);
                    transition: all 0.5s;
                    &:hover {
                        text-decoration: black;
                        transform: scale(0.95);
                        text-shadow: $text-shadow
                    }
                }
            }
        }
    }
}
.footer-link-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
}
.footer-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
    margin: 3px;
    font-weight: bolder;
}
.footer-img {
    max-height: 30px;
}
/* fin Footer*/