@import "../base/maps";
/* Sección Info*/
.flor-title {
    font-size: 30px;
    padding: 20px 20px;
    @media only screen and (max-width: 550px) {
        display: flex;
        justify-content: center;
    }
}
.info {
    width: 95%;
    margin: 10px 0px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    @media only screen and (max-width: 550px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
.info-container {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 550px) {
        margin: 50px 0;
    }
}
.flor-img {
    border-radius: 10px;
    grid-column: 1 / 2;
    justify-self: center;
    filter: drop-shadow(3px 1px 3px grey);
    padding-bottom: 3px;
    @media only screen and (max-width: 550px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}
.flor.txt {
    grid-column: 2 / 4;
    @media only screen and (max-width: 550px) {
        grid-row: 2 / 3; 
    }
}
/* Fin Sección info*/