@import "../base/maps";
.map-card-1 {
    justify-self: center;
}
.map {
    width: map-get($img, size);
    height: map-get($img, size);
    display: block;
    border-radius: map-get($img, borde);
    margin: 5px 0;
}
.locales-map {
    @media screen and (max-width:575px) {
        justify-self: center;
    }
    @media screen and (max-width: 410px) {
        max-width: 270px;
    }
}
.col-sm-5 {
    @media screen and (max-width:575px) {
        display: flex;
        justify-content: center;
    }
}
.locales-card {

    max-width: 500px;
	&:hover {
		transform: scale(1);
	}
   @media screen and (max-width: 510px) {
       max-width: 400px;
   }
   @media screen and (max-width: 410px) {
       max-width: 300px;
   }
}