@import "../base/extends";
@import "../base/maps";
/*Nosotros*/
.main-n {
    @extend %main-2;
}
.main-nosotros {
    @extend %main;
    @media only screen and (max-width: 910px) and (min-width: 840px) {
        margin: map-get($design, margin);
    }
    @media only screen and (max-width: 839px) {
        margin: map-get($design, margin);
    }
}
.presentacion {
    margin: 5px;
    font-weight: bolder;
}
.nosotros-container {
    width: map-get($design, width);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    @media only screen and (max-width: 839px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
.vivero-foto {
    width: 500px;
    grid-column: 1 / 2;
    border-radius: 10px;
    @media only screen and (max-width: 839px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;    
    }
}
.nosotros-txt {
    grid-column: 2 / 3;
    align-self: center;
    @media only screen and (max-width: 910px) and (min-width: 840px) {
        font-size: 15px;
    }
    @media only screen and (max-width: 839px) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }
}
.vivero-foto-container {
    @media only screen and (max-width: 839px) {
        display: flex;
        justify-content: center;
    }
}



