
%main {
    display: flex;
    justify-content: center;
}
%main-2 {
    margin-top: 30px;
    margin-bottom: 40px;
}
%icono {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}