$a: (
    font-color: black,
    text-decoration: none,
    font-weight: lighter,
);
$design: (
    margin: 30px 0,
    width: 90%,
    width2: 80%,
    mb: 40px,
);
$img: (
    borde: 5px,
    size: 300px,
    size2: 40px,
);
$colores: (
    color1: rgb(86, 163, 71),
)
