$gradient-1: linear-gradient(0deg , rgba(255, 253, 233, 0) 0% , rgba(211, 255, 141, 0.918) 100%);
$gradient-2: linear-gradient(0deg , rgba(211, 255, 141, 0.918) 0% , rgba(255, 253, 233, 0) 100% );
$text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
$font-family: 'Poppins', sans-serif;

$sizes: 
5px
10px
20px,
30px,

